
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>
<h2>Your Order has been placed</h2>

<a class="btn btn-warning rounded" href="/Home/Index">
    <span class="glyphicon glyphicon-home"></span>Continue Shopping
</a>

<a class="btn btn-warning rounded" href="/Home/Order">
    <span class="glyphicon glyphicon-home"></span>Orders
</a>
